<?xml version="1.0" ?>
<module>


<User f="nodata">
  <User>
    <Select_User t="dropdown" f="user"/>
    <Login t="button" l="Control"/>
  </User>
</User>

<Control f="nodata">
  <Main>
    <Record_New_Site t="button" l="Site"/>
    <GPS_Diagnostics t="gpsdiag"/>
  </Main>
  <search>
    Records
  </search>
</Control>

<Site>
  <Site>
     <Title f="id notnull">
      <desc>Name of the site</desc>
    </Title>
    <gps/>
    <Radius_of_Site>
	<desc>In Meters from the centre gps point</desc>
    </Radius_of_Site>

    <Record_New_Turtle t="button" lc="Turtle"/>
    <List_of_site_turtles t="list" ec="Turtle"/>

  </Site>
</Site>

<Turtle>
  <Turtle>
    <Turtle_Markings f="id notnull">
      <desc>Narkings of turtle</desc>
    </Turtle_Markings>
   <Did_you_give_turtle_a_marking t="radio">
     <opts><opt>Yes</opt><opt>No</opt></opts>
   </Did_you_give_turtle_a_marking>
   <Take_Carapace_Marking_photo t="camera"/>
    <Record_New_Capture t="button" lc="Capture"/>
    <List_of_Turtle_Captures t="list" ec="Capture"/>
   
  </Turtle>
  <Measurement>
    <Species>
      <opts>
        <opt>Long neck
            <opt>Chelodina rugosa/oblonga</opt>
            <opt>Chelodina canni</opt>
            <opt>Chelodina novaeguinea</opt>
       </opt>           
        <opt> Short neck
            <opt>Elseya dentata</opt>
            <opt>Elseya lavarackerum</opt>
        </opt>
      </opts>
    </Species>
    <Turtle_measurement_Carapace_Length>
	<desc>Measurement in mm</desc>
    </Turtle_measurement_Carapace_Length>
    <Turtle_measurement_Carapace_Width/>
    <Turtle_measurement_Plastron_Length/>
    <Turtle_measurement_Plastron_Width/>
    <Turtle_sex>
     <opts>
      <opt>Female</opt>
      <opt>Male</opt>
     </opts>
    </Turtle_sex>
  </Measurement>

</Turtle>
<Capture>
	<Capture>
		<timestamp f="id"/>
		<gps/>
    		<Trapping_Method>
      			<opts>
        		<opt>Aestivating</opt>
		        <opt>Fishing</opt>
        		<opt>Trap! (It's a)</opt>
      			</opts>
    		</Trapping_Method>
		<Take_Carapace_photo t="camera"/>
		<Take_Plastrum_photo t="camera"/>
	</Capture>
</Capture>
</module>

